USE [master]
GO
/****** Object:  Database [C2C]    Script Date: 24/03/2026 11:46:55 CH ******/

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C2C].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C2C]
GO
/****** Object:  User [Seller01]    Script Date: 24/03/2026 11:46:55 CH ******/
CREATE USER [Seller01] FOR LOGIN [User_Seller01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Buyer01]    Script Date: 24/03/2026 11:46:55 CH ******/
CREATE USER [Buyer01] FOR LOGIN [User_Buyer01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AdminUser]    Script Date: 24/03/2026 11:46:55 CH ******/
CREATE USER [AdminUser] FOR LOGIN [Admin_SanDoCu] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Role_Seller]    Script Date: 24/03/2026 11:46:55 CH ******/
CREATE ROLE [Role_Seller]
GO
/****** Object:  DatabaseRole [Role_Buyer]    Script Date: 24/03/2026 11:46:55 CH ******/
CREATE ROLE [Role_Buyer]
GO
/****** Object:  DatabaseRole [Role_Admin]    Script Date: 24/03/2026 11:46:55 CH ******/
CREATE ROLE [Role_Admin]
GO
ALTER ROLE [Role_Seller] ADD MEMBER [Seller01]
GO
ALTER ROLE [Role_Buyer] ADD MEMBER [Buyer01]
GO
ALTER ROLE [Role_Admin] ADD MEMBER [AdminUser]
GO
/****** Object:  Table [dbo].[reports]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[reporter_id] [int] NOT NULL,
	[target_listing_id] [int] NULL,
	[target_user_id] [int] NULL,
	[reason] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listings]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listings](
	[listing_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[condition_percentage] [int] NOT NULL,
	[location_gps] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[is_vip] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[listing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_My_Inventory]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------
-- 1. HỆ THỐNG VIEW (TRUY VẤN DỮ LIỆU)
----------------------------------------------------------------

-- V1. View "Quản lý kho hàng cá nhân": Dùng cho màn hình "Tin đăng của tôi"
CREATE   VIEW [dbo].[v_My_Inventory] AS
SELECT 
    L.seller_id,
    L.listing_id,
    L.title,
    L.price,
    L.status,
    L.is_vip,
    L.created_at,
    (SELECT COUNT(*) FROM reports WHERE target_listing_id = L.listing_id) AS report_count,
    CASE 
        WHEN L.is_vip = 1 THEN N'Đang đẩy tin'
        ELSE N'Tin thường'
    END AS display_type
FROM listings L;

GO
/****** Object:  Table [dbo].[boost_packages]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boost_packages](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[package_name] [nvarchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[duration_hours] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[listing_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[expiry_date] [datetime] NULL,
	[payment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[id_card_number] [varchar](20) NULL,
	[reputation_score] [decimal](3, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Revenue_Details]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- V2. View "Lịch sử mua gói VIP": Dành cho Dashboard Admin theo dõi doanh thu
CREATE   VIEW [dbo].[v_Revenue_Details] AS
SELECT 
    P.payment_id,
    U.full_name AS customer_name,
    L.title AS product_name,
    B.package_name,
    P.amount,
    P.payment_method,
    P.payment_date,
    P.status AS payment_status
FROM payments P
JOIN users U ON P.user_id = U.user_id
JOIN listings L ON P.listing_id = L.listing_id
JOIN boost_packages B ON P.package_id = B.package_id;

GO
/****** Object:  Table [dbo].[categories]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[icon_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[conversation_id] [int] IDENTITY(1,1) NOT NULL,
	[listing_id] [int] NOT NULL,
	[buyer_id] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listing_images]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listing_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[listing_id] [int] NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[is_thumbnail] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[is_read] [bit] NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[listing_images] ADD  DEFAULT ((0)) FOR [is_thumbnail]
GO
ALTER TABLE [dbo].[listings] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[listings] ADD  DEFAULT ((0)) FOR [is_vip]
GO
ALTER TABLE [dbo].[listings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT ('Processing') FOR [status]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((5.0)) FOR [reputation_score]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([listing_id])
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[listing_images]  WITH CHECK ADD FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([listing_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[listings]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[listings]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([conversation_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([listing_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([package_id])
REFERENCES [dbo].[boost_packages] ([package_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD FOREIGN KEY([reporter_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD FOREIGN KEY([target_listing_id])
REFERENCES [dbo].[listings] ([listing_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateListing]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------
-- 2. HỆ THỐNG STORED PROCEDURE (XỬ LÝ NGHIỆP VỤ)
----------------------------------------------------------------

-- SP1. Đăng tin mới kèm ảnh (Xử lý đồng thời 2 bảng Listings và Images)
CREATE   PROCEDURE [dbo].[sp_CreateListing]
    @SellerID int,
    @CategoryID int,
    @Title nvarchar(255),
    @Description nvarchar(max),
    @Price decimal(18,2),
    @Condition int,
    @Location nvarchar(100),
    @ImageUrl varchar(255)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Thêm vào bảng Listings
        INSERT INTO listings (seller_id, category_id, title, description, price, condition_percentage, location_gps, status)
        VALUES (@SellerID, @CategoryID, @Title, @Description, @Price, @Condition, @Location, 'Pending');

        -- Lấy ID của tin vừa tạo
        DECLARE @NewListingID int = SCOPE_IDENTITY();

        -- Thêm ảnh đại diện vào bảng Listing_Images
        INSERT INTO listing_images (listing_id, image_url, is_thumbnail)
        VALUES (@NewListingID, @ImageUrl, 1);

        COMMIT TRANSACTION;
        SELECT @NewListingID AS NewID, N'Thành công' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 AS NewID, ERROR_MESSAGE() AS Message;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPayment]    Script Date: 24/03/2026 11:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP2. Xử lý thanh toán và nâng cấp tin VIP
CREATE   PROCEDURE [dbo].[sp_ProcessPayment]
    @UserID int,
    @ListingID int,
    @PackageID int,
    @Amount decimal(10,2),
    @Method nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Ghi nhận lịch sử thanh toán
        INSERT INTO payments (user_id, listing_id, package_id, amount, payment_method, status, payment_date, expiry_date)
        VALUES (@UserID, @ListingID, @PackageID, @Amount, @Method, 'Success', GETDATE(), DATEADD(day, 3, GETDATE())); 

        -- Cập nhật trạng thái VIP cho tin đăng
        UPDATE listings SET is_vip = 1 WHERE listing_id = @ListingID;

        COMMIT TRANSACTION;
        PRINT N'Thanh toán thành công và kích hoạt tin VIP!';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi thanh toán: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
USE [master]
GO
INSERT INTO categories (category_name, description) 
VALUES (N'Đồ điện tử', N'Điện thoại, Laptop, Loa...'),
       (N'Xe cộ', N'Xe máy, Xe đạp, Xe tăng...');